
    <ion-view view-title="What's new in your network">
      <ion-content class="padding">
	  
	  <!-- popover start -->
	  <div class="slide_container">       
        <nav id="searchMenu">
            <ul>
                <li><a href="#">Sort by Program</a></li>
                <li><a href="#">Sort by Category</a></li>
                <li><a href="#">Sort Alphabetically</a></li>
                <li><a href="#">Sort by Content</a></li>
                <select>
				  <option value="p1">CIO Leadership Council</option>
				  <option value="p2">Legal Leadership Council</option>
				  <option value="p3">Recruiting Leadership Council</option>
				</select>
            </ul>
        </nav>
        <div id="searchBtn"><i class="ion-ios-search-strong srch"></i></div>
    </div>
	  
	  
		<!-- <p > -->

		  <!-- <a ng-click="openPopover($event)" class="button button-small button-assertive ion-arrow-down-b rb-bg"></a> -->
<!-- 		  <a ng-click="showActionsheet()" class="button button-small button-assertive ion-arrow-down-b rb-bg"></a>
		</p>
 -->
		<!-- <script id="my-popover.html" type="text/ng-template">
		  <ion-popover-view>
			<ion-header-bar>
			  <h1 class="title">Organize what I need</h1>
			</ion-header-bar>
			<ion-content>
							Hmmm
			</ion-content>
		  </ion-popover-view>
		</script> -->
	  <!-- popover end -->
		<div>
		<ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="rb-bg icon ion-ios-videocam clickMe1"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title latestNews">2014 Top Insights for IT Executives<small> - NEW</small></h4>
              <p><small class="text-muted"><i class="ion-android-alarm-clock"></i> 5 minutes ago via YouTube</small></p>
			  <hr></hr>
            </div>
            <div class="timeline-body videowrapper collapse panel1" id="iMe">
              <p><iframe src="https://www.youtube.com/embed/G8pgmwo2FE0" frameborder="0" allowfullscreen></iframe></p>
              
            </div>
          </div>
        </li>
		        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="rb-bg ion-image clickMe5"></i></div>
          <div class="timeline-panel">
		  
            <div class="timeline-heading">
              <h4 class="timeline-title">Executive Summary of Your Budget and Spend Diagnostic</h4>
			  <p><small class="text-muted"><i class="ion-android-alarm-clock"></i> 45 minutes ago via CEB membership</small></p>
			  <hr></hr>
            </div>
            <div class="timeline-body collapse panel5">
			<div class="row">
				<div class="col col-80">
					<img class="img1" src="img/bssb.png"></img>
				</div>
				<div class="col">
					<a class="button button-small button-assertive" href="#/menu/tab/bssbimg1" >View My Results</a>
				</div>
			</div>
            </div>
			
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="rb-bg ion-ios-videocam clickMe2"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">CEB IT Roadmap Builder™: Getting Paid For Your IT Plans</h4>
			  <p><small class="text-muted"><i class="ion-android-alarm-clock"></i> 6 hours ago via YouTube</small></p>
			  <hr></hr>
            </div>

            <div class="timeline-body collapse videowrapper panel2">
              <p><iframe src="https://www.youtube.com/embed/xJS8Osz45s4" frameborder="0" allowfullscreen></iframe></p>
              


            </div>
          </div>
        </li>
		<li class="timeline-inverted">
          <div class="timeline-badge royal"><i class="rb-bg ion-ios-paper-outline clickMe6"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">What is Adaptive IT?</h4>
			  <p><small class="text-muted"><i class="ion-android-alarm-clock"></i> 9 hours ago via CEB membership</small></p>			  
			  <hr></hr>
            </div>

            <div class="timeline-body collapse panel6">
              <p>To succeed in an era when change is constant and the impact of technology ubiquitous, IT leaders must apply five principles that enable continuous change in the IT organization.<br />
				These principles are easier to articulate than they are to live by day in and day out. To make the principles real, IT leaders must create an Adaptive IT organization that is capable of continuous change and can thrive in any environment, not just the environment for which it was designed. Adaptive IT organizations require fundamental changes in IT’s strategy, governance, delivery, and workforce.</p>
				<br />
				<a href="#/menu/tab/item"> How We Can Help</a><br /><br />
				
				Introducing Adaptive IT<br />
				The Five Principles of Adaptive IT<br />
				Adaptive IT in Practice<br />
				Reorganizing IT for Speed<br />
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge royal"><i class="rb-bg ion-ios-paper-outline clickMe3"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Adaptive Strategy</h4>
			  <p><small class="text-muted"><i class="ion-android-alarm-clock"></i> 10 hours ago via CEB Membership</small></p>
			  <hr></hr>
            </div>
            <div class="timeline-body collapse panel3">
              <p>Adaptive strategy recognizes that IT’s role is context-based. IT needs to seamlessly shift between roles to help the enterprise extract full value from technology, regardless of where the ideas or money come from. This requires IT to gear up to play multiple roles, such as delivering, consulting, brokering, and coaching, often in parallel. IT can’t just operate at two-speeds; many different speeds and approaches are required to support the full range of circumstances IT may face.</p>

				How We Can Help<br /><br />

				Shift Engagement Toward Coaching, Advising, and Brokering<br />
				Spend Equal Time Engaging with Business Leaders and Employees<br />
				Focus on IT’s Enduring Comparative Advantages<br />
				Strike the Right Balance on When to Engage<br />
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="rb-bg ion-ios-videocam clickMe4"></i></div>		
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Why Executives in EMEA value CEB</h4>
			  <p><small class="text-muted"><i class="ion-android-alarm-clock"></i> 11 hours ago via CEB membership</small></p>
			  <hr></hr>
            </div>
            <div class="timeline-body collapse videowrapper panel4">
              <p><iframe src="https://www.youtube.com/embed/SYqaF9xxUh0" frameborder="0" allowfullscreen></iframe></p>
            </div>
          </div>
        </li>

        
<!--         <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="rb-bg ion-android-checkbox-outline"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4><hr></hr>
            </div>
            <div class="timeline-body collapse">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li> -->
    </ul>
		
		</div>
		
<!-- 		<div class='page foldtr'>
    <div></div>
    <div >Your Own Poet</div>
</div> -->


      </ion-content>
    </ion-view>
