<ion-view title="">
	<ion-content>
	<div class="card" >
		<div class="row item item-divider card-bk2">
			Zonal Magistrate
		</div>
		<ion-item class="item item-text-wrap">
			<!-- <ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1"> -->
				<img class="img1" src="img/landing_div3/zonalMagistrate.jpg">
			<!-- </ion-scroll> -->
		</ion-item>
		<div class="row item item-divider card-bk2">
			Sector Magistrate
		</div>

		<!-- <ion-slide-box> -->
		  <ion-slide ng-repeat="n in secMagistrate">
		    <img class="img1" ng-src="{{n.src}}">
		  </ion-slide>
		<!-- </ion-slide-box>		 -->
    </div>
	</ion-content>
</ion-view>