<ion-view hide-nav-bar="true">
  <ion-content class="padding card-bk1">
    <!-- <pane side-menu-content drag-content="false"> -->
    <div class="card-transparent">
      <img class="imgBackground" src="img/logo.png">
      <h1 class="head">My Saviour</h1>
      <h3 class="head">... where you are!</h3>
    </div>
    <hr>
    <div class="card-transparent" >
      <!-- <a class="button button-block button-assertive" ui-sref="menu.tabs.slidebox">Let's Get Started</a> -->
      <a class="button button-block button-assertive" ng-click="doLogin()">LOGIN</a>

    <hr>
      <!-- <a class="button button-block button-assertive" ui-sref="menu.tabs.slidebox">Let's Get Started</a> -->
      <a class="button button-block button-calm" ng-click="doSignUp()">SIGNUP</a>
    </div>
    <hr>
    <!-- <div class="card dark" ng-controller="tickerCtrl">
    <marquee>
    <span ng-repeat="item in iTicker">
    <i class="icon ion-ios-pulse-strong"></i> <strong>{{item.prog}}</strong>{{item.newsFeed}}
    </span>
    </marquee>
    </div> -->
  </ion-content>
</ion-view>
