<ion-view>
<ion-content>
<div id="profile-bg"></div>
<div id="content">
<div id="profile-info">
<img id="profile-image" src="img/me.png">
<h3 id="profile-name">Roopak</h3>
<span id="profile-description">Profile Description goes here with some links <a href="http://twitter.com/roopakburman">@roopakburman</a>, and amybe some more links here
<a href="http://example.com">example.com</a></span>
</div>
<ion-list>
<ion-item class="item-icon-right" href="#/menu/tab/buttons">
  <strong>Home </strong><i class="icon ion-ios-home blink"></i>
</ion-item>
<ion-item class="item-icon-right" href="#/menu/tab/saviours">
  <strong>Your Saviours</strong><i class="icon ion-ios-medkit blink"></i>
</ion-item>
<ion-item class="item-icon-right" href="#/">
  <strong>Logout </strong><i class="icon ion-log-out blink"></i>
</ion-item>

<ion-item class="item-text-wrap">
<!-- <img class="post-profile-image" src="img/me.png"> -->
<strong>Address: </strong> Someplace somewhere, some road, some city, Some Country
</ion-item>
<ion-item >
<strong>Phone: </strong> +1-703-338-6156
</ion-item>
<ion-item >
  <strong>Email Address: </strong> someone@domain.com
</ion-item>
<ion-item >
  <strong>Payment Mode: </strong> Card-VISA
</ion-item>
<ion-item >
  <strong>User Name: </strong> roopak
</ion-item>
</ion-list>
</div>
</ion-content>
</ion-view>
